<div class="booyah-box col-xs-10 col-xs-offset-1">
<h1>Enter your soccer field!</h1>
<%= simple_form_for @place do |f| %>
<br />
<%= f.input :name, label: 'Name:' %>
<br />
<%= f.input :address, label: 'Address:'  %>
<br />
<%= f.input :description, label: 'Description:'  %>
<br />
<%= f.submit 'Create', :class => 'btn btn-primary' %>
<% end %>


</div>